.search-container {
  padding: 15px;
}
.src-button {
  margin-left:20px !important;
}
.result-container {
  height: 200px;
  border-radius: 4px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin: 10px;
}
.result {
  width: 95%;
  height: 175px;
  padding-top: 10px;
  margin: auto;
  color: black;
  font-size: 18px;
  display: flex;

}
.result span {
  font-size: 15px !important;
}
.result a {
  color:black;
  margin-left: 10px;
  font-size: 18px;
}
.result img {
  width: 150px;
  height: 175px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
  object-fit: contain;
}

a {
  color:white;
}
label {
  color: white;
}
.result label {
  color: black !important;
  font-size: 18px;
}
.fa-heart-o {
  color: #ff0037;
  cursor: pointer;
}

.fa-heart {
  color: #ff0037;
  cursor: pointer;
  font-size: 25px;
}

.heart {
  position: absolute;
  margin-top: 67px;
  margin-left: 950px;

}
.heart .fa-heart-o {
  font-size: 25px !important;
}
.heart .fa-heart {
  font-size: 25px !important;
}
.imdbRatingPlugin {
  margin-top: 3px !important;
}
.result_info {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.bg-image {
  background-image: url("../images/clapper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index:-100;
  opacity: .5;
}
#results {
  text-align: center;
}
#results h2 {
  margin-top: 200px;
}

.imdbRatingPlugin .rating {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.rating .ofTen {
  font-weight: lighter;
}

@media only screen and (max-width: 329px) {
  .heart {
    position: relative !important;
    margin-left: 0 !important;
    height: 25px;
    padding: 0 10px;
  }
  .result_info {
    display: block;
    width: 380px;
  }
  .row {
    display: block !important;
    width: 100%;
    margin: 0;
  }
  .col-sm-2 {
    max-width: 100% !important;
  }
  .src-button{
    margin-left: 4.5% !important;
    max-width: 91% !important;
    margin-top: 25px !important;
  }
  .result img {
    min-width: 80px !important;
    height: 140px !important;
    margin-top: auto;
    margin-bottom: auto;
  }
  .result_info a {
    text-align: center;
  }
  .votes {
    display: none !important;
  }
  .result-info a {
    display: flex !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
  }
}
@media only screen and (min-width: 330px)  and (max-width: 994px){
  .heart {
    position: relative !important;
    margin-left: 0 !important;
    height: 25px;
    padding: 0 10px;
  }
  .result_info {
    display: block;
    width: 380px;
  }
  .row {
    display: block !important;
    width: 100%;
    margin: 0;
  }
  .col-sm-2 {
    max-width: 100% !important;
  }
  .src-button{
    margin-left: 4.5% !important;
    max-width: 91% !important;
    margin-top: 25px !important;
  }
  .result img {
    min-width: 120px !important;
    height: 180px !important;
    margin-top: auto;
    margin-bottom: auto;
  }
  .result_info a {
    text-align: center;
  }
  .votes {
    display: none !important;
  }

}

@media only screen and (min-width: 995px)  and (max-width: 1200px){
  .heart {
    position: absolute !important;
    margin-left: 78% !important;
    height: 25px;
    padding: 0 10px;
  }
  .result_info {
    display: block;
    width: 65% !important;
  }
  .row {
    display: block !important;
    width: 100%;
    margin: 0;
  }
  .col-sm-2 {
    max-width: 100% !important;
  }
  .src-button{
    margin-left: 1.5% !important;
    max-width: 97% !important;
    margin-top: 25px !important;
  }
  .result img {
    min-width: 120px !important;
    height: 180px !important;
    margin-top: auto;
    margin-bottom: auto;
  }
  .result_info a {
    text-align: center;
  }
  .votes {
    display: none !important;
  }


}
